@use "~/styles/_variables.scss" as *;

.Chat {
  padding: $padding--desktop;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-white;
  padding-bottom: 0;
}

/* DARK MODE */
.App.theme--dark .Chat {
  background-color: $dark-theme--bg;
}
