@use "~/styles/_variables.scss" as *;

.poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.3s;
  text-align: left;
  gap: $padding--desktop;
  padding: $padding--desktop;
  margin-bottom: $padding--desktop;
  transition: all 0.3s;
  background-color: rgb(241, 241, 241);

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    padding-right: $padding--desktop;
  }

  &__subtitle {
    padding-bottom: $padding--desktop;
  }

  &__totals {
    font-size: 0.9rem;
    font-weight: bold;
    color: $light-theme--darkest-gray;
  }

  &__separator {
    border-top: 2px solid $color-gray--light-1;
    padding-bottom: $padding--desktop;
  }

  &__question {
    text-transform: capitalize;
  }

  &__time h4 {
    margin: 0;
  }

  &__text p {
    text-align: left;
    margin: 0;
    word-break: break-word;
  }
}

/* DARK MODE */
.App.theme--dark {
  .poll {
    background-color: $dark-theme--element-bg;
    color: $light-theme--element-bg;

    &__btn {
      background: $light-theme--element-bg;
      color: black;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    &__totals {
      color: $light-theme--element-bg;
    }
  }
}
