@use "~/styles/_variables.scss" as *;

.footer-logo {
  height: 2rem;

  &--img {
    height: 100%;
    border-radius: 50%;
    padding: 0.2rem;
    background-color: $color-white;
  }
}

/* DARK MODE */
.App.theme--dark .footer-logo--img {
  background-color: $color-white;
}
