@use "~/styles/_variables.scss" as *;

.video-stream-selector {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  input[type="radio"] {
    position: relative;
  }
  
  &__radio {
    height: 2rem;
    position: relative;
    display: flex;
  }

  &__label {
    display: flex;
    flex-direction: row;
    position: relative;
    
    &--youtube {
      .video-stream-selector__icon {
        padding: 0.15rem;
      }
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    background-color: $color-white;
    border-radius: 50%;
    padding: 0.3rem;
    cursor: pointer;
  }

  &__tooltip {
    opacity: 0;
    position: absolute;
    bottom: -1.2rem;
    transition: all 0.2s;
    width: 7rem;
  }

  &__label:hover .video-stream-selector__tooltip {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .video-stream-selector {
    &__tooltip {
      display: none;
    }
  }
}
